[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gaurav_Ahire (Zaurav)
[access "refs/for/refs/*"]
	read = group user/Gaurav_Ahire (Zaurav)
	push = group user/Gaurav_Ahire (Zaurav)
	label-Code-Review = -2..+2 group user/Gaurav_Ahire (Zaurav)
	label-Verified = -1..+1 group user/Gaurav_Ahire (Zaurav)
	rebase = group user/Gaurav_Ahire (Zaurav)
	removeReviewer = group user/Gaurav_Ahire (Zaurav)
	submit = group user/Gaurav_Ahire (Zaurav)
[access "refs/heads/*"]
	read = group user/Gaurav_Ahire (Zaurav)
	create = group user/Gaurav_Ahire (Zaurav)
	push = +force group user/Gaurav_Ahire (Zaurav)
	pushMerge = group user/Gaurav_Ahire (Zaurav)
[access "refs/tags/*"]
	push = group user/Gaurav_Ahire (Zaurav)
	push = +force group user/Gaurav_Ahire (Zaurav)
