[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zaurav
[access "refs/for/refs/*"]
	read = group user/Zaurav
	push = group user/Zaurav
	label-Code-Review = -2..+2 group user/Zaurav
	label-Verified = -1..+1 group user/Zaurav
	rebase = group user/Zaurav
	removeReviewer = group user/Zaurav
	submit = group user/Zaurav
[access "refs/heads/*"]
	read = group user/Zaurav
	create = group user/Zaurav
	push = +force group user/Zaurav
	pushMerge = group user/Zaurav
[access "refs/tags/*"]
	push = group user/Zaurav
	push = +force group user/Zaurav
